PORT=5001
JWT_SECRET=supersecretdevpilotkey
CLIENT_URL=http://localhost:5173

# Database configuration
DATABASE_URL=
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/devpilot?retryWrites=true&w=majority

# Gemini API configuration
GEMINI_API_KEY=

# GitHub Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:5001/api/github/callback
GITHUB_WEBHOOK_SECRET=devpilotwebhooksecret

# Gmail SMTP Configuration for Email OTP Verification
EMAIL_USER=your-dedicated-devpilot-gmail@gmail.com
EMAIL_APP_PASSWORD=your-google-app-password
EMAIL_FROM=DevPilot AI <your-dedicated-devpilot-gmail@gmail.com>
